/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 avr. 2019, 16:52:42
    Author     : EBI
*/

body{
    margin:0px;
}

.wrapper {
    width: 83.33333%;
    margin: auto;
}

.wrapper #top {
    background-color: #4C5766;
    height: 55px;
    margin-bottom: 15px;
}

.wrapper #left {
    background-color: white;
    width: 220px;
    min-height: 400px;
    border-right: solid #454545 1px;
}

.wrapper #content {
}

.navbar {
    display: inline-flex;
}

.navbar ul li{
    display: inline-block;
    margin-top: 9px;
    margin-right: 35px;
}